**/report/**/*.pdf
**/report/**/*.aux
**/report/**/*.bbl
**/report/**/*.blg
**/report/**/*.log
**/report/**/*.out
**/report/**/*.synctex.gz
**/report/**/*.vtc

**/report/**/*.ilg
**/report/**/*.ind
**/report/**/*.idx

**/report/**/*.ppt
**/report/**/*.pptx
/bin/
